#OS junk files
[Tt]humbs.db
*.DS_Store

#R files
*.Rproj.user
*.Rhistory
*.Ruserdata
*.Rproj
*.html

#Compressed files
*.zip
*.zipx

# Office temporary
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*

#Other temporary
*.tmp
*.bak

#Excluding some data files due to file size limitations
#7-zip versions of these files split into chunks of < 100 Mb are included in respository
data/review.Rdata
data/stardat.Rdata
data/corpus.Rdata
data/yelp_academic_dataset_review.7z
data/yelp_academic_dataset_business.7z

#Excluding some output files due to file size limitations
#7-zip versions of these files split into chunks of < 100 Mb are included in respository
output/mod53.fit.xz
output/mod54.fit.xz
output/mod13.fit.xz
.Rproj.user
